{% extends 'admissionbase.html' %}
{% load static %}
{% block content %}
<main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="fa fa-th-list"></i> Applications Received </h1>
        <p>For {{ course }}</p>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Applications</li>
        <li class="breadcrumb-item active"><a href="/courseapp/">Stage-1</a></li>
      </ul>
    </div>
    
      <div class="clearfix"></div>
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Received applications</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <!-- <th>Sl No</th> -->
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>X<sup>th</sup> score</th>
                  <th>XII<sup>th</sup> score</th>
                  <th>UG score</th>  
                  <th>Action</th>                  

                </tr> <tr>
                {% if not app %}
                <td colspan="10" align="center">
                  <br>
                <img  src="{% static 'images/nodata.png' %}" height="300" width="300">
                </td>
                {% else %}  
                {% for a in app %}
                {% for r in rec %}  
               
                  {% if a.id == r.app_id and a.stage == '1'  %}
                  <!-- <td>{{ forloop.counter }}</td> -->
                  <td><img class="img-thumbnail" src="{{a.photo}}" height="170" width="120"></td>
                  <td>{{ a.name }}</td>
                  <td>{{ a.gender }}</td>
                  <td>{{ a.email }}</td>
                  <td>{{ a.phone }}</td>
              
                <td>{{ r.tenth }}<br><a class="text-primary " href={{ r.certificatetenth }} target="_blank">Certificate</a>
                </td>
                <td>{{ r.twelfth }}<br><a class="text-primary " href={{ r.certificatetwelfth }} target="_blank">Certificate</a></td>
                <td>{{ r.ug }}<br><a class="text-primary " href={{ r.certificateug }} target="_blank">Certificate</a></td>
                <td>
                  
                  <form method="POST" action="/confirmapp/">
                    {% csrf_token %}
                    
                    <input type="text" hidden value="{{ a.id }}" name="aid">  
                    <input type="text" hidden value="{{ c.id }}" name="cid">  
                      <input type="text" hidden value="{{ c.name }}" name="cname">
               
                <input class="btn btn-outline-info" type="submit" value="Send Enquiry">
              </form>
                </td>
                {% endif %}                
                </tr>
                {% endfor %}
                {% endfor %} 
                {% endif %}
              </thead>
              <tbody>
              
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>



    <div class="clearfix"></div>
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Confirm applications</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <!-- <th>Sl No</th> -->
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>X<sup>th</sup> score</th>
                  <th>XII<sup>th</sup> score</th>
                  <th>UG score</th>  
                  <th colspan="2">Action</th>                  

                </tr>
                <tr>
                {% if not app %}
                <td colspan="10" align="center">
                  <br>
                <img  src="{% static 'images/nodata.png' %}" height="300" width="300">
                </td>
                {% else %}
                {% for a in app %}  
                
                {% for r in rec %}  
                
                  {% if a.id == r.app_id and a.stage == '1.25'  %}
<!--                   
                    <td>{{ forloop.counter }}</td> -->
                  
                  <td><img class="img-thumbnail" src="{{a.photo}}" height="170" width="120"></td>
                  <td>{{ a.name }}</td>
                  <td>{{ a.gender }}</td>
                  <td>{{ a.email }}</td>
                  <td>{{ a.phone }}</td>
              
                <td>{{ r.tenth }}<br><a class="text-primary " href={{ r.certificatetenth }} target="_blank">Certificate</a>
                </td>
                <td>{{ r.twelfth }}<br><a class="text-primary " href={{ r.certificatetwelfth }} target="_blank">Certificate</a></td>
                <td>{{ r.ug }}<br><a class="text-primary " href={{ r.certificateug }} target="_blank">Certificate</a></td>
                <td>
                  
                  <form method="POST" action="/confirmedapp/">
                    {% csrf_token %}
                    
                    <input type="text" hidden value="{{ a.id }}" name="aid">  

               
                <input class="btn btn-outline-info" type="submit" value="Confirm">
              </form>
                </td>
                <td>
                  <a href="/rejectapp/{{a.id}}" class="btn btn-outline-danger">Reject</a>
                </td>
                {% endif %}                
                </tr>
                {% endfor %}
                {% endfor %} 
                {% endif %}   
  
              </thead>
              <tbody>
              
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% endblock %}