{% extends 'studentbase.html' %}
{% load static %}
{% block content %}
<main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="fa fa-th-list"></i>Assignments</h1>
        <p>For {{ student.name }}</p>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Assignments</li>
        <li class="breadcrumb-item active"><a href="/assignmentresults/">View Assignment Results</a></li>
      </ul>
    </div>
    
      <div class="clearfix"></div>
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Assignment Results</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Sl No</th>
                  <th>Title</th>
                  <th>Problem</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Teacher</th>
                  <th>Marks</th>
                  <th colspan="3">Answer</th>
               
                </tr> <tr>
                {% if not assignments %}
                <td colspan="8" align="center">
                  <br>
                <img  src="{% static 'images/nodata.png' %}" height="300" width="300">
                </td>
                {% else %}  
                {% for a in assignments %} 
               
                  <td>{{ forloop.counter }}</td>
                  <td>{{ a.title }}</td>
                  <td>{{ a.problem }}</td>
                  <td>{{ a.fromtime }}</td>
                  <td>{{ a.totime }}</td>
                {% for t in teachers %}
                {% if a.teacher_id == t.id %}
                  <td>{{ t.name }}</td>  
                {% endif %}
                {% endfor %}
                {% for response in submissions %}
                {% if response.assignment_id == a.id %} 
                <td>{{ response.marks }}</td>
                <td><a href="{{ response.answer }}">View submission</a></td>
                {% endif %}
                {% endfor %}
              
                </td>             
                </tr>
                {% endfor %}
              
                {% endif %}
              </thead>
              <tbody>
              
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% endblock %}