{% extends 'teacherbase.html' %}
{% load static %}
{% block content %}
<main class="app-content">

    <div class="app-title">
        <div>
            <h1><i class="fa fa-th-list"></i> Calculate Attendance </h1>
            <p>For {{ batch }}</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Admissions</li>
            <li class="breadcrumb-item active"><a href="">Students</a></li>
        </ul>
    </div>

    <form action="/calatt/" method="post">
        {% csrf_token %}
        <div class="col-md-4">
            <label>From Date</label>
            <input class="form-control" type="date" name="fdate" id="fdate" value='{{ t.dob|date:"Y-m-d" }}' onchange="checkdate();"
                id="cdate"><br>
            <span id="demo" style="color:rgb(254, 254, 254);background-color:rgb(255, 0, 0);"></span><br>
        </div><br>
        <div class="col-md-4">
            <label>To Date</label>
            <input class="form-control" type="date" name="tdate" id="tdate" value='{{ t.dob|date:"Y-m-d" }}' onchange="datecheck();"
                id="cdate"><br>
            <span id="demo" style="color:rgb(254, 254, 254);background-color:rgb(255, 0, 0);"></span><br>
            <button type="submit" class="btn btn-outline-success">Publish</button></form>
            <button type="button" class="btn btn-outline-success" onclick="attview();">View </button>
        </div><br>
    
    </div>
    <script>
        function datecheck() {
        var sdate = document.getElementById('fdate').value;
        var sdate1 = new Date(sdate);
        var edate = document.getElementById('tdate').value;
        var edate1 = new Date(edate);
        var cdate = new Date();
        var diff = edate1 - sdate1;
        console.log(cdate);
        // if (cdate.getTime() > sdate1.getTime()) {
        //     alert("Entered old Date");
        //     $('#sdate1').val('');
        // }
        // if (cdate.getTime() > edate1.getTime()) {
        //     alert("Entered old Date")
        //     $('#edate1').val('');
        // }
        if (sdate1.getTime() >= edate1.getTime()) {
            alert("Incorrect From and To Date");
            $('#tdate').val('');
        }
    }
    </script>



</main>
{% endblock %}