{% extends 'admissionbase.html' %}
{% load static %}
{% block content %}
<main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="fa fa-th-list"></i> Applications Received </h1>
        <p>List of courses</p>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Applications</li>
        <li class="breadcrumb-item active"><a href="/courseapp/">Stage-1</a></li>
      </ul>
    </div>
    
      <div class="clearfix"></div>
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Courses</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Sl No</th>
                  <th>Course name</th>
                  <th>Course duration</th>
                  <th>Department</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
               
              </thead>
              <tbody>
                {% for c in course %}
                
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ c.name }}</td>
                  <td>{{ c.duration }}</td>
                  {% for d in dept %}
                  {% if c.dept_id == d.id %}
                  <td>{{ d.name }}</td> 
                  {% endif %}
                  {% endfor %} 
                  {% if c.status == '1' %}
                  <td>Active</td>
                  {% else %}
                  <td>Inactive</td>
                  {% endif %}
                  <td>
                  
                    <form method="POST" action="/appliview/">
                      {% csrf_token %}
                      
                      <input type="text" hidden value="{{ c.id }}" name="cid">  
                      <input type="text" hidden value="{{ c.name }}" name="cname">
                 
                  <input class="btn btn-outline-info" type="submit" value="View applications">
                </form></td>
                </tr>
                {% endfor %} 
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% endblock %}