{% extends 'dashbase.html' %}
{% load static%}
{% block content %}
<main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="fa fa-th-list"></i> College Departments</h1>
        <p>List of Departments</p>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Departments</li>
        <li class="breadcrumb-item active"><a href="/depteditview/">View Vepartments</a></li>
      </ul>
    </div>
   
      <div class="clearfix"></div>
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Departments</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Sl No</th>
                  <th>Department Name</th>
                  <!-- <th>Head of Department</th> -->
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for d in dept_no %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ d.name }}</td>
                  <!-- <td></td> -->
                  {% if d.status == '1' %}
                  <td>Active</td>
                  {% else %}
                  <td>Inactive</td>
                  {% endif %}
                </tr>
                {% endfor %} 
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% endblock %}