{% extends 'teacherbase.html' %}
{% load static %}
{% block content %}
<main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="fa fa-th-list"></i> Internals </h1>
        <p>For <span id="batch">{{ batch }}</span></p>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Classroom</li>
        <li class="breadcrumb-item active"><a href="">Publish Internals</a></li>
      </ul>
    </div>
    
      <div class="clearfix"></div>
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Students</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
            
                  <th>Admission number</th>
                  <th>Name</th>
                  <th>Subject</th>
                  <th>Assignment-1</th>
                  <th>Assignment-2</th>                  
                  <th>Series-1</th>                  
                  <th>Series-2</th>
                  <th>Attendance marks</th>
                  <th>Total marks</th>
                  <th>Action</th>                  

                </tr> <tr>
                {% if not students %}
                <td colspan="10" align="center">
                  <br>
                <img  src="{% static 'images/nodata.png' %}" height="300" width="300">
                </td>
                {% else %}  
                {% for s in students %}
                
              
                  <td>{{ s.id }}</td>
                {% for a in apps %}
                {% if a.id == s.app_id %}  
                  <td>{{ a.name }}</td>
                {% endif %} 
                {% endfor %} 
                  <td>{{ subject.subject_name }}</td>            
                
                    <td>
                        <form method="POST" action="/updateinternals/">
                        {% csrf_token %}
                        <select name="assignment_one" id="{{s.id}}q" class="form-control">
                {% for assign in assignments %}
                {% for sub in submissions %}
                {% if assign.id == sub.assignment_id and sub.student_id == s.id %} 
             
                
                <option value="{{ sub.marks }}">{{ assign.title }} = {{ sub.marks }} </option>
              
                {% endif %}    
            
                {% endfor %}
                {% endfor %}
            </select>
            </td>
                    <td>
                        <select name="assignment_two" id="{{s.id}}" class="form-control" onchange="return calc(document.getElementById('{{s.id}}').id);">
                {% for assign in assignments %}
                {% for sub in submissions %}
                {% if assign.id == sub.assignment_id and sub.student_id == s.id %} 
             
                
                <option value="{{ sub.marks }}">{{ assign.title }} = {{ sub.marks }} </option>
              
                {% endif %}    
            
                {% endfor %}
                {% endfor %}
            </select>
            </td>
            <td> <input class="form-control" type="text" name="series_one" value="" id="{{s.id}}a" required onchange="return calc(document.getElementById('{{s.id}}').id);" maxlength="2"> </td>
            <td> <input class="form-control" type="text" name="series_two" value="" id="{{s.id}}b" required onchange="return calc(document.getElementById('{{s.id}}').id);" maxlength="2"> </td>
            
            <input type="hidden" value="{{ s.id }}" name="sid">
            <input type="hidden" value="{{ subject.subject_number}}" name="snumber">
            {% for key,value in attmarks.items %}
            {% if key == s.id %}
            <td>{{ value }}</td>
            <td id="{{s.id}}tot"></td>
            <td>
                <input type="hidden" value="{{value}}" name="attmark">
                <input type="submit" class="btn btn-primary" value="update"></td>
            {% endif %}
            {% endfor %} 
            </form>
                 </tr>
                
                {% endfor %} 
                {% endif %}
              </thead>
              <tbody>
              
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <script>
        var a=document.getElementById('batch').value;
        console.log(a);
        fetch("/view-internals", {
            body: JSON.stringify({ date: a}),
            method: "POST",
          })
          .then((res) => res.json())
          .then((data) =>{
            console.log(data);
            data.forEach((item)=>{
                document.getElementById(item.student_id+'a').value=item.series_one;
                document.getElementById(item.student_id+'b').value=item.series_two;
            });
          });
          function calc(id){
            console.log(id);
            var select2=document.getElementById(id);
            var select1=document.getElementById(id+'q');
            var svalue1 = select1.options[select1.selectedIndex].value;
            var svalue2 = select2.options[select2.selectedIndex].value;
            var value3=document.getElementById(id+'a').value;
            var value4=document.getElementById(id+'b').value;
            var tot=parseInt(svalue1)+parseInt(svalue2)+parseInt(value3)+parseInt(value4);
            console.log(tot);
            document.getElementById(id+'tot').innerHTML=tot;
          }
      </script>
    </div>



    
  </main>
  {% endblock %}