{% extends 'teacherbase.html' %}
{% load static %}
{% block content %}
<main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="fa fa-th-list"></i> New Admissions </h1>
        <p>For {{ cname.course_name }}</p>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Admissions</li>
        <li class="breadcrumb-item active"><a href="/newadmissions/">New Admissions</a></li>
      </ul>
    </div>
    
      <div class="clearfix"></div>
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Students</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
            
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Action</th>                  

                </tr> <tr>
                {% if not l %}
                <td colspan="10" align="center">
                  <br>
                <img  src="{% static 'images/nodata.png' %}" height="300" width="300">
                </td>
                {% else %}  
                  {% csrf_token %}
                {% for a in l %}
              
                
                  <!-- <td>{{ forloop.counter }}</td> -->
                  <td><img class="img-thumbnail" src="{{a.photo}}" height="170" width="120"></td>
                  <td>{{ a.name }}</td>
                  <td>{{ a.gender }}</td>
                  <td>{{ a.email }}</td>
                  <td>{{ a.phone }}</td>
                  <td><input type="checkbox" value="{{ a.id }}" name="students[]"> </td>
        
                             
                </tr>
                {% endfor %} 
              
             
                {% endif %}
              </thead>
              <tbody>
              
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>



    
  </main>
  {% endblock %}