{% extends 'hodbase.html' %}
{% load static %}
{% block content %}
<main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="fa fa-th-list"></i> Subject-teacher allocation</h1>
        <p>List of subjects allocated for each teacher</p>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Subject-teacher allocation</li>
        <li class="breadcrumb-item active"><a href="/subjectteacherview/">View subject-teacher allocation</a></li>
      </ul>
    </div>
    
      <div class="clearfix"></div>
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Teachers</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Sl No</th>
                  <th>Teacher's name</th>
                  <th>UID</th>
                  <th>Email</th>
                  <th>Qualification</th>
                  <th>Subjects</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              
                {% for t in teachers %}

                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ t.name }}</td>
                  <td>{{ t.uid }}</td>
                  <td>{{ t.email }}</td>
                  <td>{{ t.qualification }}</td>
                  <td>
                  {% for s in subjects %}    
                  {% for teach in s.teachers.all %}
                  {% if teach.id == t.id %}
                  {{ s.subject_name }}
                 <br><br>
                  {% endif %}  
                  {% endfor %} 
                  {% endfor %}
                 </td>
                  <td>
                  <form method="POST" action="/subjectteacheredit/">
                    {% csrf_token %}
                    
                    <input type="text" hidden value="{{ t.id }}" name="tid">  
               
                <input class="btn btn-outline-info" type="submit" value="Edit">
              </form>
                  </td>
                  
                 
                </tr>
                {% endfor %} 
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% endblock %}